@font-face {
  font-family: 'uncutSans';
  src: url(./fonts/Uncut-Sans-Regular.otf);
  font-style: normal;
}
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
body {
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ffbfd9;
  color: #292929;
  font-size: 2rem;
  font-family: uncutSans;
}
.container {
  margin: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.navContainer {
  margin: auto;
  display: flexbox;
  justify-content: space-between;
  text-align: center;
}
.navText {
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  color: #292929;
}
.navText:link, .navText:visited {
  text-decoration: none;
}

.titleStyle {
  font-size: 10rem;
}
.textStyle {
  font-size: 4rem;
}
